<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Chefs | <a href = "/dishes">Dishes</a></h2>
    <h4>Check out our roster of Chefs</h4>
    <a href = "/new">Add a chef</a>
    <hr>
    
</body>
</html>